@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");

.ContentModal__landscape {
  object-fit: contain;
  border-radius: 10px;
}

.ContentModal__portrait {
  display: none;
  object-fit: contain;
  border-radius: 10px;
}

.tagline {
  padding-top: 20px;
  padding-bottom: 10px;
  align-self: center;
}

.ContentModal {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  scrollbar-width: none;
}

.ContentModal::-webkit-scrollbar {
  display: none;
}

.ContentModal__about {
  padding: 10px;
  width: 95%;
  height: 90%;
  display: flex;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
  justify-content: space-evenly;
  font-weight: 300;
}

.ContentModal__title {
  height: 12%;
  font-size: 5vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ContentModal__description {
  display: flex;
  height: 40%;
  overflow-y: scroll;
  padding: 15px;
  margin-top: 40px;
  border-radius: 20px;
  scrollbar-width: thin; /* Firefox */
  box-shadow: inset 0 0 5px #000000;
  text-align: justify;
}

.ContentModal__description::-webkit-scrollbar {
  display: none;
}
.actions {
  display: inline-block;
  position: relative;
  bottom: 20px;
}
@media (min-width: 835px) {
  .ContentModal__landscape {
    display: none;
  }
  .ContentModal__portrait {
    display: flex;
    width: 38%;
  }
  .ContentModal {
    flex-direction: row;
    justify-content: space-around;
    padding: 10px 0;
  }
  .ContentModal__about {
    width: 58%;
    padding: 20px;
    height: 100%;
  }
  .ContentModal__title {
    font-size: 3.5vw;
  }
  .ContentModal__description {
    font-size: 22px;
  }
}

.btn {
  position: relative;
  padding-top: 10px;
  top: 0px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}
.watchlist {
  position: absolute;
  margin: 0px 20px 0px 160px;
}

.dislike {
  margin: 0px 20px 0px 80px;
}

.actions {
  display: inline-block;
  position: relative;
  bottom: -4px;
}
/* vote  */
.score {
  flex-basis: 14%;
  align-self: center;
  position: relative;
  width: 10px;
  height: 10px;
  margin-left: auto;
  margin-right: 120px;
}
.score span {
  text-align: center;
  display: block;
  font-weight: 400;
  font-size: 50px;
  position: absolute;
  height: 120px;
  line-height: 120px;
  width: 120px;
}

.scoreMeter {
  transform: rotate(-90deg);
  width: 120px;
  height: 120px;
  viewbox: "0 0 120 120";
}

.scoreMeter circle {
  stroke-width: 8px;
  fill: transparent;
  cx: 60;
  cy: 60;
  r: 54;
}

.scoreMeterCircle {
  stroke: var(--bgcolor);
}

.scoreMeterValue {
  stroke: #9d50bb;
  transition: 1s stroke-dashoffset cubic-bezier(0.76, 0.21, 0.38, 0.88);
}
