.row {
    margin-left: 0px;
    color: #fff;
  }
  
  .row_poster {
    object-fit: contain;
    width: 150px;
    max-height: 450px;
    transition: transform 450ms;
    margin-right: 10px;
    box-shadow: 3px 3px 5px rgba(0,0,0,0.3);
    overflow: 'hiden',

    
  }
  .img_poster {
    object-fit: contain;
    width: 150px;
    max-height: 100px;
    transition: transform 450ms;
    margin-right: 10px;
    box-shadow: 3px 3px 5px rgba(0,0,0,0.3);
    overflow: 'hiden',
  }
  .img_posterLarge {
    max-height: 250px;
  }
  .row_posters {
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    padding: 20px;
    
  
  }

  
  .row_posters::-webkit-scrollbar {
    display: none;
  }
  
  .row_poster:hover {
    transform: scale(1.08);
    cursor: pointer;

  }
  
  .row_posterLarge {
    max-height: 250px;
  }
  
  .row_posterLarge:hover {
    transform: scale(1.09);
    
  }

  .movie {
    flex-basis: 33%;
    background: #000;
    position: relative;
    color: var(--fontcolor);
    overflow: hidden;
  
    
  }

  .info {
    transition: transform 0.5s cubic-bezier(0.15, 1, 0.33, 1);
    color: #fff;
    position: absolute;
    bottom: 0;
    padding: 18px;
    width: 100%;
    transform: translateY(100%);
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
  
   
  }

  .title {
    font-size: 25px;
    margin: 0 auto;
  
    
  }
  .movie img {
    transition: transform 0.5s cubic-bezier(0.15, 1, 0.33, 1);
  }
  
  .movie:hover .info {
    transform: translateY(0);
  }
  
  .movie:hover img {
    opacity: 0.5;
    transform: scale(1.15);
  }
  .container {
    display: flex;
    flex-wrap: wrap;
  }

  .slider{
    width:100%;
    margin-top: 0vh;
}

.card_image{
  width:100%;
  cursor:pointer;
}
/* overwrite carousel */
.lgksPe{
  height: 0px!important;
  width: 0px!important;
}
.iLquPE:disabled{
  height: 0px!important;
  width: 0px!important;
}
.sc-gKsewC{
  visibility:hidden;
}

/* movies details */
.content {
  position: absolute;
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  justify-content: center;
  transition: background-color ease 0.2s;
 
  }
  .content:hover {
    background-color: rgba(0, 0, 0, 0.65);
    cursor: pointer;
  }